---
name: CI
on: [push, pull_request]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v4

      - name: setup tools
        uses: jdx/mise-action@v2
        with:
          install: true
          cache: true

      - name: check lint
        run: |
          deno lint
          yamllint .
          deno run -A npm:html-validate .

      - name: check format
        run: |-
          deno fmt --check
          yamlfmt -dry -lint .
          deno run -A npm:prettier -c "./public/**/*.{html,css}"
